# Core Web Framework & Database
Flask==3.1.2
Flask-SQLAlchemy==3.1.1
Flask-Login==0.6.3

# Real-Time Chat (WebSockets)
Flask-SocketIO==5.6.0
eventlet==0.40.4

# Security & Anti-Spam
Flask-Limiter==4.4.1
bleach==6.3.0

# Email Handling
Flask-Mail==0.10.0
itsdangerous==2.2.0

# Cloud Media Storage
cloudinary==1.44.1

# Link Previews (Web Scraping)
requests==2.32.5
beautifulsoup4==4.13.5

# Environment Variables
python-dotenv==1.2.1